@import "./reset.scss";



.App {
    
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    
}

@media (max-width: 768px) {
    .App {
        
        grid-template-columns: 1fr;

    }
}

.leftContainer {
    background-color: #7ea8be;
    height: 100vh;
    position: sticky;
    top: 0;
}

@media (max-width: 768px) {
    .leftContainer {
        height: 100vh;
        position: static;
    }
} 


//main page

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
    margin-left: 10%;
    margin-right: 45%;
    height:100vh; // look into changing for mobile
    color:  #c7f9cc;
}

.scrollButton {
    //create a button with rounded corners
    background-color: #7ea8be;
    border: solid 2px #c7f9cc;
    color:  #c7f9cc;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    font-weight: bold;
}

.scrollButton:hover {
    background-color: #c7f9cc;
    color: #7ea8be;
}

.rightContainer {
    background-color: #c7f9cc;
    
}



//landing photo

.portrait {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    
}

@media (max-width: 768px) {
    .portrait {
        height: 100vh;
        
    }
} 

.aboutBackground {
  background-color:#c7f9cc;
}

//about page

.aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10%;
    margin-right: 5%;
    background-color:#c7f9cc;
    height: 50vh;
    width: 50vh;
}

.aboutTitle {
  color:#7ea8be;
  display: block;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
}

.aboutText {
  width: 90%
}

.techTitle {
  color:#7ea8be;
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.techSkills {

}
//About Carousel

.techStack {
    width: 95%
    
    
}

.embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    gap: 20px;
    
  }
  .embla__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0 0 100%;
    
  }

  .embla__slide {
    flex: 0 0 12.5%; 
    
  }

  .embla__image {
    width: 70%;
    height: 70%;
  }

  // project page

  .projectBackground {
    background-color: #fec9f1;
  }

  .projectsContainer {
    background-color: #fec9f1;
    margin-left: 10%;
    margin-right: 5%;
    
  }

  .projectsTitle {
    color: #7ea8be; 
    display: block;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
  }

  .project {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    
  }

  .projectTitle {
    color: #7ea8be; 
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  .projectText {
    width: 90%
  }

  .projectImage {
    width: 90%;
    height: 90%;
    margin-top: 0.83em;
  }