.App {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
    .App {
        //css grid one column
        grid-template-columns: 1fr;

    }
}

.leftContainer {
    background-color: #7ea8be;
}

@media (max-width: 768px) {
    .leftContainer {
        height: 100vh
    }
} 

//main page

.mainContainer {
    //flebox container column align left
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 45%;
    height:100vh; // look into changing for mobile
    color:  #c7f9cc;
}

.scrollButton {
    //create a button with rounded corners
    background-color: #7ea8be;
    border: solid 2px #c7f9cc;
    color:  #c7f9cc;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    font-weight: bold;
}

.scrollButton:hover {
    background-color: #c7f9cc;
    color: #7ea8be;
}

.rightContainer {
    background-color: #c7f9cc;
}



//landing photo

.portrait {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}