*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}

br {
  display: block;
  margin: 10px 0;
}

body {
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
  width: 100%;
  background-color: #7ea8be;
}

.App {
  font-family: Roboto, serif;
}

.portfolioContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 1fr) minmax(0, 1fr);
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

@media (min-width: 769px) {
  .portfolioContainer {
    -webkit-animation: transition 1.5s ease-in-out;
            animation: transition 1.5s ease-in-out;
  }
}

@media (max-width: 768px) {
  .portfolioContainer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-column-gap: 0px;
            column-gap: 0px;
  }
}

@-webkit-keyframes transition {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes transition {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.leftContainer {
  background-color: #7ea8be;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

@media (max-width: 768px) {
  .leftContainer {
    height: 100vh;
    position: relative;
    top: 0;
    z-index: -6;
  }
}

.mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10%;
  margin-right: 30%;
  height: 100vh;
  color: #c7f9cc;
  -webkit-animation: textAppear 5s ease-in-out;
          animation: textAppear 5s ease-in-out;
  -webkit-animation-delay: 100s;
          animation-delay: 100s;
}

@-webkit-keyframes textAppear {
  from {
    opacity: 0;
    -webkit-transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
            transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
  }
  to {
    opacity: 1;
    -webkit-transform: perspective(500px) translate3d(0, 0, 0);
            transform: perspective(500px) translate3d(0, 0, 0);
  }
}

@keyframes textAppear {
  from {
    opacity: 0;
    -webkit-transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
            transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
  }
  to {
    opacity: 1;
    -webkit-transform: perspective(500px) translate3d(0, 0, 0);
            transform: perspective(500px) translate3d(0, 0, 0);
  }
}

.mainTitle {
  -webkit-animation: textAppear 2.5s ease-out 1;
          animation: textAppear 2.5s ease-out 1;
  display: block;
  font-size: 4em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.mainParagraph {
  -webkit-animation: textAppear 2.5s ease-out 1;
          animation: textAppear 2.5s ease-out 1;
  display: block;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

.scrollButton {
  font-size: 1.5em;
  background-color: #7ea8be;
  border: solid 2px #c7f9cc;
  color: #c7f9cc;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 1em;
  cursor: pointer;
  border-radius: 160px;
  font-weight: bold;
  -webkit-animation: textAppear 2.5s ease-out 1;
          animation: textAppear 2.5s ease-out 1;
}

.scrollButton:hover {
  background-color: #c7f9cc;
  color: #7ea8be;
}

.rightContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  background-color: #fec9f1;
}

.landing {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  gap: 0px;
  background-color: #c7f9cc;
}

@media (max-width: 768px) {
  .landing {
    position: relative;
  }
}

.portrait {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100vh;
}

@media (max-width: 768px) {
  .portrait {
    height: 100vh;
  }
}

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #c7f9cc;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .aboutContainer {
    width: 50vh;
    position: relative;
  }
}

.aboutTitle {
  color: #7ea8be;
  display: block;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 10%;
  margin-right: 5%;
}

.aboutText {
  margin-left: 10%;
  margin-right: 5%;
  line-height: 1.5em;
}

.whyMeTitle {
  color: #7ea8be;
  display: block;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 10%;
  margin-right: 5%;
}

.whyMeText {
  margin-left: 10%;
  margin-right: 5%;
  line-height: 1.5em;
}

.techTitle {
  color: #7ea8be;
  display: block;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 10%;
  margin-right: 5%;
}

.techSkills {
  margin-left: 10%;
  margin-right: 5%;
  line-height: 1.5em;
}

.techStack {
  width: 100%;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.embla__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.embla__slide {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12.5%;
          flex: 0 0 12.5%;
}

.embla__image {
  width: 70%;
  height: 70%;
}

.embla__prev {
  display: none;
}

.embla__next {
  display: none;
}

.projectBackground {
  background-color: #fec9f1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 4;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .projectBackground {
    position: relative;
  }
}

.projectsContainer {
  background-color: #fec9f1;
  margin-left: 10%;
  margin-right: 5%;
}

.projectsTitle {
  color: #7ea8be;
  display: block;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
}

.project {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 1fr) minmax(0, 1fr);
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-gap: 20px;
}

.projectTitle {
  color: #7ea8be;
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.projectText {
  width: 90%;
  margin-bottom: 1em;
}

.projectLinks {
  background-color: #fec9f1;
  border: solid 2px #7ea8be;
  color: #7ea8be;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-weight: bold;
}

.projectLinks:hover {
  background-color: #fec9f1;
  color: #7ea8be;
}

.projectImage {
  width: 90%;
  height: 90%;
  margin-top: 0.83em;
  -o-object-fit: contain;
     object-fit: contain;
}

.contactContainer {
  background-color: #F9F366;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .contactContainer {
    position: relative;
  }
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}
/*# sourceMappingURL=style.css.map */