.App {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
    .App {
        //css grid one column
        grid-template-columns: 1fr;

    }
}

.leftContainer {
    background-color: #2E304B;
}

@media (max-width: 768px) {
    .leftContainer {
        height: 100vh
    }
} 

.rightContainer {
    background-color: #fd8e8e;
}

//landing page

.portrait {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}