:root {
    background-color: #2E304B;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.App {
    width: 60%;
    margin-top: 15px;
    margin-left: 20%;
    margin-right: 20%;
    
    //background-color: #fd8e8e; text color
}

/*@media (max-width: 768px) {
    .App {
        width:100%;
    }
} */

//main 

* {
    color: #fd8e8e
  }

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    height:100vh; // look into changing for mobile
}

.scrollButton {
    
    background-color: #2E304B;
    border-color: #fd8e8e;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

.scrollButton:hover {
    background-color: #fd8e8e;
    color: #2E304B;
}

.mainText {
    
}

//Header
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* TODO make a custom layout for smaller screens*/
    background-color: grey;
    width: 100%;
  }
.headerRight {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    
  }

//main page

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.mainContent {
    //consider coming back to fix the gap
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    gap: 75px;
}

@media (max-width: 768px) {
    .aboutContent {
        flex-direction: column-reverse;
        gap: 15px;
    }
}

.portrait {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-right: 10px;
  }



//About Carousel
.techStack {
    
    width: 100%;
    
}

.embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    gap: 20px;
    
  }
  .embla__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0 0 100%;
    
  }

  .embla__slide {
    flex: 0 0 12.5%; /* Slide covers 50% of the viewport */
    
  }

  .embla__image {
    width: 70%;
    height: 70%;
  }
//projects

.projectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

//contact

.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

//footer

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}